<div class="container">
  <div class="block category">
    <div class="number">1</div>
    <div class="name">Blog Category</div>
    <button class="btn">More Information</button>
  </div>
  <div class="block article">
    <div class="number">1</div>
    <div class="name">Blog Article</div>
    <button class="btn">More Information</button>
  </div>
  <div class="block slider">
    <div class="number">1</div>
    <div class="name">Slider</div>
    <button class="btn">More Information</button>
  </div>
  <div class="block menu">
    <div class="number">1</div>
    <div class="name">Menu</div>
    <button class="btn">More Information</button>
  </div>
</div>