<!DOCTYPE html>
<html lang="en">

<head>
  <%include elements/head-css %>
</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
    <!-- Navbar -->
    <%include elements/main-header-nav%>
      <!-- /.navbar -->
      <!-- Main Sidebar Container -->
      <%include elements/main-sidebar%>
        <!-- Content Wrapper. Contains page content -->
        <%include elements/main-content%>
          <%- body %>
            <!-- ./wrapper -->
            <%include elements/scripts%>
  </div>
</body>

</html>