* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =============== header ====================== */
.header {
    padding: 20px 20px;
    text-align: right;
}

/* =============== footer ====================== */
