<!DOCTYPE html>
<html lang="en">

<%include elements/head-css %>

  <body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

      <!-- Preloader -->
      <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__wobble" src="/backend/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
      </div>

      <!-- Navbar -->
      <%include items/navbar%>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <%include items/main-sidebar%>

          <!-- Content Wrapper. Contains page content -->
          <%include items/main-content%>
            <!-- ./wrapper -->

            <%include elements/scripts%>
    </div>
  </body>

</html>