*{
    margin: 0;
    padding: 0;
}

.box {
    width: 100px;
    height: 100px;
    background-color: gold;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
}

.bottom {
    display: flex;
    justify-content: space-between;
}