<div class="content-wrapper">
    <!-- .content-wrapper -->

    <!-- /.content-wrapper -->
    <p>
        Welcome to <%= page %>
    </p>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <%include main-content-footer %>
</div>